 <! doctype html>
 <html>
 <head>
 <title> My App </title>
 </head>
 <body>
 <h1>My App</h1>
	<ul>
		<li> <a href="http://localhost:3000/employees"; target="_blank">list of all the employees.</a></li>
			<br>
			<br>
		<li><a href="http://localhost:3000/order_by_age_asc"; target="_blank">All employees order by age. Ascending </a></li>
			<br>
			<a href="http://localhost:3000/order_by_age_desc"; target="_blank">All employees order by age. Descending </a>
			<br>
			<br>
		<li><a href="http://localhost:3000/order_by_dept"; target="_blank">All employees order by department.</a></li>
			<br>
			<br>
		<li><a href="http://localhost:3000/order_by_salary_asc"; target="_blank">All employees order by salary. Ascending</a></li>
			<br>
			<a href="http://localhost:3000/order_by_salary_desc"; target="_blank">All employees order by salary. descending</a>
			<br>
			<br>
		<li><a href="http://localhost:3000/retired_list"; target="_blank">All employees who retired from your company(retd age 65).</a></li>
			<br>
			<br>
		<li><a href="http://localhost:3000/highsalary"; target="_blank">The employee with highest salary.</a></li>
			<br>
			<br>
		<li><a href="http://localhost:3000/top5emp"; target="_blank">Top 5 employees based on salary.</a></li>
			<br>
			<br>
		<li>Top salaried employee by department.</li>
			 &nbsp &nbsp &nbsp &nbsp &nbspSORRY, I'M UNABLE TO DO IT
			<br>
			<br>
		<li><a href="http://localhost:3000/top5sremp_by_age"; target="_blank">Top 5 senior most employees by age.</a></li>
			<br>
			<br>
		<li>The employees with highest and lowest salary.</li>
			&nbsp &nbsp &nbsp &nbsp &nbspSORRY, I'M UNABLE TO DO IT
			<br>
			<br>
		<li><a href="http://localhost:3000/lowsalaryandsenior"; target="_blank">The employee with lowest salary but senior most in the company.</a></li>
			<br>
	</ul>
	  
</body>	  
</html>